@keyframes blurFadeIn {
  0% {
    opacity: 0;
    transform: translateY(+20px);
    filter: blur(1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.blurFadeIn {
  animation: blurFadeIn 1s ease 3.5s forwards;
}

.terminal-root {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
